<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: robertgroup3029 -->
        <add key="robertgroup3029_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=robertgroup3029;AccountKey=vnG0sHbxnvXLzsYK2d1JojoM16o7dcpRnMpHPqZqu96DcPgHQ8X6+dwCndcPpgWlNELmWkYbDQvM7bKvAbJBrg==" />
    </appSettings>
</configuration>